<%- include('partials/header'); -%>

    <%# <div class="container center">
      <div class="row">
        <div class="col">
          <h1>welcom to the bank </h1>
        <button type="button" class="btn btn-dark btn-lg download-butten" ><a href="/sendmoney" style="color:white">Donate Money </a></button>
        <button type="button" class="btn btn-outline-light btn-lg download-butten"> <a href="/send">Send money</a> </button>
        <button type="button" class="btn btn-outline-light btn-lg download-butten"> <a href="/transaction">Transaction History</a> </button>

        </div>
        <div class="col">
        <!-- LOGO of BRAND -->
        <img class="title-image" src="images/logo1.png" alt="">
        </div>
      </div>
    </div>


    </section> %>
<div class="header1" >


<main style="color:black;">
    <section>
        <h3 > <span class="change_content" style="background:#9edaff;">Welcome To The Family! </span></h3>
        <h1 > <span class="change_content" style="background: #9edaff;"> We are so glad to have you here!  </span></h1>
        <p > <span class="change_content" style="background: #9edaff;">"Let's come together to make this world better." </span></p>
        <button type="button" name="button" class="btn btm-lg btn-light btn-light download-butten"><a href="/sendmoney" class="btntwo">Donate Now</a></button>
    </ section>
</main>
</div>





<%- include('partials/footer'); -%>
